*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    overflow-x: hidden;
}

header{
    background-color: #232222;
}

li a{
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;

}

header div{
    margin:0 10%;
    display: flex;
    justify-content: space-between;
}

li{
    text-decoration: none;
    padding: 30px 20px;
}

.nav_search{
    height: 35px;
    margin-top: 21px;
    border-radius: 5px;
    border: none;
    background-color: #5f5e5e;
    background-image: url(./assets/images/search.jpg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 7px 8px;
    padding-left: 31px;
    width: 200px;
    font-size: 17px;
}

.nav_search::placeholder{
    color:white;
}

.lable{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 406px;
}

.lable div{
    display: flex;
    align-items: center;
    background-color: #fff0bb;
    padding: 0 65px;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    border-radius: 0 0 10px 10px;
    height: 32px;
}

.teachpaathshala_logo{
    height: 20px;
    margin: 10px 5px;
}

.banner{
    /* background-image: url(assets/images/main.jpg); */
    position: relative;
    height: 130vh;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
}

.about_me{
    padding: 50px;
    display: flex;
}

.section_space{
    padding: 50px;
}


.role_title{
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 40px;
}

.personal_info p{
    margin-bottom: 10px;
}

.personal_info{
    width: 50vw;
    padding-right: 60px;
}

.personal_info p{
    margin:  20px 0;
}


.btn{
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary{
    background-color: #0948b4;
    color:white;
    border: none;
}

.btn-bg-white{
    background-color: white;
    border:2px solid #0948b4
}

.profile_pic{
    width: 40vw;
    position: absolute;
    top: -120%;
}

.profile_div{
    position: relative;

}

.card{
    border-radius: 10px;
    box-shadow: 0px 0px 23px #e4dede;
    padding: 10px;
    margin: 10px;
}

.personal_title{
    font-size: 40px;
    display: inline-block;
    border-bottom: 2px solid black;
}

.suitable{
    display: flex;
    justify-content: center;
}

.suitable_dec{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.suitable_dec h2{
    font-weight: normal;
}

.section_title{
    font-size: 40px;
    margin-bottom: 50px;
}

.card-horizontal{
    border-radius: 10px;
    box-shadow: 0px 0px 23px #e4dede;
    padding: 10px 20px;
    display: flex;
}

.card_body{
    padding: 10px 20px;
}

.card_body h4{
    font-size: 40px;
    margin-bottom: 10px;
}

.card_body p{
    font-size: 20px;
}

.skill_images{
    display: flex;
    width: 90vw;
    overflow-x: auto;
}

.skill_image{
    margin: 0 10px;
    text-align: center;
    font-size: 30px;
}

.skill_image img{
    height: 100px;
}

.skill_images::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.fa-clock{
    font-size: 71px;
    color: #0948b4;
    margin-bottom: 14px;
}

.soft_skills{
    display: flex;
    justify-content: space-around;
    padding: 20px ;
}

.soft_skill{
    text-align: center;
}

.projects{
    display: flex;
    overflow:hidden
}

.card_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title{
    font-size: 25px;
   margin: 10px 0;
}

.project_scroll{
    /* display: none; */
    display: flex;
    justify-content: center;
}

.scroll_left{
    width: 14px;
    margin:10px 20px;
}

.scroll_right{
    width: 14px;
    margin:10px 20px;
}

.scroll{
    border-radius: 60px;
    border: 2px solid ;
    margin: 10px 20px;
    padding:3px 0;
    cursor: pointer;
}

.card button{
    width: 100%;
    margin: 10px 0 ;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0948b4;
    color:white;
    border: none;
}

.experiences{
    display: flex;
}

.card_image button{
    margin-top: 20px;
}

.qualification{
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

dt{
    font-size: 30px;
    font-weight: bold;
}

dd{
    margin-bottom: 20px;
}

dt::before{
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    left: -19px;
    margin-top: 13px;
}

dl{
    position: relative;
}

.qualification_line{
    height: 4px;
    width: 112%;
    background: black;
    position: absolute;
    rotate: -90deg;
    top: 170px;
    right: 133px;
}

.qualification_detail{
    position: relative;
}

.qualification_text{
    margin-left: 54px;
    position: absolute;
    bottom: 18px;
}

footer{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.copy_right{
     padding: 20px;
     background-color: white;
     color: #000;
     width: 100%;
     text-align: center;
}

footer{
    position: relative;
    margin-top: 60px;
}

.footer_image{
    width: 149px;
    top: -114px;
    position: absolute;
    border: 2px solid black;
    border-radius: 82px;
}

footer h2{
    margin-top: 40px;
}